<!-- /*
Student Name: Alfej Savaya
Student ID: 118823210
Stdent Email: aasavaya@myseneca.ca
class: WEB322NOO
*/ -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: aqua;
        }
    </style>
</head>
<body>
    <h1>Thank You for your submission</h1>
</body>
</html>